body {
  color: white;
  overflow-x:hidden;
  font-family: 'Concert One', cursive;
}

#home img {
  height: 150px;
  width: auto;
  margin: 10px 0 -10px 0;
}

#contact a h2 {
 display: inline;
 color: white;
 }


#contact img {
 height: 50px; 
 width: 50px;
 margin-bottom: 10px;
}

#contact a {
  text-decoration: none !important;
}


#home {
  background-image: url('background_images_personal_site/Elegant_Background-10.jpg');
  background-size: cover;
  margin-top: 50px;
}

#home a {
  margin-bottom: 40px;
}

#home h1 {
  margin-bottom: -15px;
}

#about {
  background-image: url('background_images_personal_site/Elegant_Background-9.jpg');
  background-size: cover;
  padding: 0 40px 40px 40px;
}

#projects {
  background-image: url('background_images_personal_site/Elegant_Background-11.jpg');
  background-size: cover;
}

#contact {
   background-image: url('background_images_personal_site/Elegant_Background-10.jpg');
   background-size: cover;
   padding-bottom: 20px;
}


/* overlay darker over on background images*/
.layer {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}

section {
  margin: -20px;
}


#projects img {
  height: 80%;
  width: 80%;
}

#projects figure {
 margin-bottom: 30px;
}


#projects h1{
  padding-top: 25px;
}

@media screen and (max-width: 768px) {
  #about h1{
    font-size:30px;
  }

  #projects h1{
    font-size:30px;
  }

  #contact h1 {
        font-size:30px;
    }

   #contact h2 {
        font-size:20px;
    }
}

