body {
  color: white;
}

.jumbotron .home {
margin-top: 50px;
}

.pet img{
  height: 420px;
}

img {
  height: 100%;
  width: 100%;
}

#contact h2 {
 height: 35px; 
}


#contact img {
 height: 50px; 
 width: 50px;
}

#contact a {
  color: white;
  padding-bottom: 20px;
}

.jumbotron {
  background-image: url('background_images_personal_site/Elegant_Background-10.jpg');
}

#about {
  background-image: url('background_images_personal_site/Elegant_Background-9.jpg');
}

#projects {
  background-image: url('background_images_personal_site/Elegant_Background-11.jpg');
}

#contact {
   background-image: url('background_images_personal_site/Elegant_Background-10.jpg');
}
/* overlay darker over on background images*/
.layer {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}

