body {
  color: white;
  overflow-x:hidden;
}

#contact a h2 {
 height: 35px;
 display: inline;
 color: white;
 }


#contact img {
 height: 50px; 
 width: 50px;
}

#contact a {
  text-decoration: none !important;
}


#home {
  background-image: url('background_images_personal_site/Elegant_Background-10.jpg');
  background-size: cover;
  margin-top: 50px;
}

#home a {
  margin-bottom: 40px;
}

#about {
  background-image: url('background_images_personal_site/Elegant_Background-9.jpg');
  background-size: cover;
  padding: 0 40px 40px 40px;
}

#projects {
  background-image: url('background_images_personal_site/Elegant_Background-11.jpg');
  background-size: cover;
}

#contact {
   background-image: url('background_images_personal_site/Elegant_Background-10.jpg');
   background-size: cover;
}
/* overlay darker over on background images*/
.layer {
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}

section {
  margin: -20px;
}

figure {
  margin: 10px;
}

img {
  height: 80%;
  width: 80%;
}

footer {
  height: 50px;
  width: auto;
}
